.App {
  text-align: center;
}

.App-header {
  background-color: #755ed0;
  min-height: 7vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 10vh;
  font-size: calc(10px + 2vmin);
  color: white;
  display: flex;
  justify-content: space-between;

}

.menu-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  cursor: pointer;
  padding: 10px;
  padding-right: 10vh;
}

.bar {
  width: 20px;
  height: 2px;
  background-color: white;
  margin: 2px 0;
}



.main-body{
  background-color: black;
  min-height: 100vh;
  color: white;
  display:flex;
  flex-direction: column;
}

.texto-principal{
  display: flex;
  margin-left: 10vh;
  width: 250px;
  text-align: left;
}

.texto-secundario{
  display: flex;
  margin-left: 10vh;
  flex-direction:column;
  align-items:flex-start;
  text-align: left;
  width: 600px;
}
.form-genero{
  display:flex;
  margin-left: 10vh;
  align-items:flex-start;
  text-align: center;
  flex-direction: column;
  margin-bottom: 2vh;
}
.botones{
  display: flex;
  margin-left: 10vh;
}

.boton-azul{
  background-color: blue;
  color: white;
  border-radius: 20px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-right: 25px;
}


.paleta-colores{
  width: 110px;
  height: 80px;
  margin-right: 0px;
}

.form-genero input {
  margin-bottom: 15px; /* Agrega un margen inferior a los inputs */
}

.form-container {
  display: flex;
  align-items: flex-start;
}

.color-palette-container {
  margin-left: auto;
}

.color-palette-container h2 {
  margin-right: 40vh;
  margin-bottom: 10vh;
}

.paleta-colores-small {
  width: 20px;
  height: 20px;
  margin: 6vh;
  margin-top: 3vh;
  border-radius: 30%;
  
}

.nombres-colores{
  display: flex;
  margin-top: inherit;
  margin-left: -18px;
}

.container-palette{
  display: flex;
  align-items:end
}

.paleta-colores.arrow {
  position: relative;
}


.paleta-colores.arrow:before {
  content: '';
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #fff; /* Cambia el color de fondo de la flecha triangular */
}

.paleta-colores-small.arrow:before {
  content: '';
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #fff; /* Cambia el color de fondo de la flecha triangular */
}

/* Estilos adicionales para resaltar la flecha */
.paleta-colores.arrow:hover:before,
.paleta-colores-small.arrow:hover:before {
  border-bottom-color: #000; /* Cambia el color de la flecha al hacer hover */
}

.grasa-corporal-container {
  position: relative;
}

.grasa-corporal-label-container {
  position: absolute;
  top: -40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grasa-corporal-label {
  font-size: 15px;
  color: white;
  transform: translateX(20%);
}



.input-large{
  border-radius: 20px;
  width: 500px;
  border-color: gray;
  background-color: transparent;
  color: white;
}

.genero{
  display: flex;
  align-items:flex-start;

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
